<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
  </h1>
  <!--The content below is only a placeholder and can be replaced.-->




<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>

<div class="container">
  
  <img width="150" alt="Angular Logo" src="assets\to-do-list.jpg"><br>
  <h1 > Task</h1> <br>
  <br>
  

  
  <input  [(ngModel)] ="newTask" placeholder="Add Task"> 
  <input  [(ngModel)] ="NewPriority" placeholder="Priority....HIgh or Low">


  <button (click)= "addList()" > Add </button> <br>
      
    <ul *ngFor = "let list of tasklList"> {{list.task}} {{list.priority}} <button  id=btn (click)="edit(list)"> Edit</button> 
    <button (click)= "delete(list)">Delete</button></ul>

  
</div>




<router-outlet></router-outlet>


<router-outlet></router-outlet>
